:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  overflow: auto;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
}

body {
  background-color: none;
}

h1 {
  padding-top: 50px;
}

p {
  margin: 10px 0;
}

.tooltip {
  position:fixed;
  width: 250px;
  padding: 15px;
  border-radius: 15px;
  color: white;
  background-color: #0008;
  opacity: 0;
}

#title-img {
  max-height: 50vh;
  padding-left: 30%;
}

.title-box > * {
  text-align: start;
  margin-left: 10%;
  margin-bottom: 20px;
}

.title-box > h1 {
  width: 70%;
  font-size: 32pt;
}

.title-box > p {
  width: 70%;
  font-size: 16pt;
}

.chevron {
  position: absolute;
  display: block;
}

#chevron1 {
  top: 90vh;
  margin: 0 45%;
  opacity: 0.5;
}

#chevron2 {
  top: calc(90vh - 30px);
  margin: 0 45.5%;
  opacity: 0.5;
}

.header-box {
  width: 50%;
  margin: auto;
  color: #333;
}

.question-box {
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  line-height: 20px;
  width: 230px;
  height: 65px;
  background-color: #ffe6bd;
  font-style: italic;
  padding: 10px;
  border-radius: 10px;
}

.question-box > p {
  margin: auto;
}

#sankey-page .rect-node {
  fill: #7C444F;
  stroke: #622B36;
  stroke-width: 1px;
  transition: fill 200ms, stroke 200ms;
  cursor: pointer;
}

#sankey-page .rect-node:hover {
  fill: #bb6164;
}

#sankey-page .rect-node-selected {
  fill: #ef619c;
  stroke: #C84C05;
}

#sankey-page .rect-node-selected:hover {
  fill: #f68bb8;
}

#sankey-page .path-link {
  stroke: #cab67d;
  opacity: 0.5;
  transition: stroke 200ms;
}

#sankey-page .path-link-active {
  stroke: #e87474;
}

#heatmap-page .slice {
  stroke: #FDFAAB;
  stroke-width: 3;
}

#heatmap-page .heatmap-head {
  position: absolute;
  height: 50%;
  margin: auto;
  top: 50%;
  left: 0;
  right: 0;
}

.xAxis > .tick > text {
  font-size: 12pt;
}

.yAxis > .tick > text {
  font-size: 12pt;
  transform: translate(0, -4px);
}

.bubble-filter {
  margin: 1px 5px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 200ms;
}

.bubble-filter:hover {
  background-color: #c4f0d4;
}

.question-icon {
  color: gray;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  line-height: 1.1;
  width: 20px;
  height: 20px;
  border: gray solid 3px;
  border-radius: 50%;
}

#summary-page .rect-node {
  fill: #445c7c;
  stroke: #2b3062;
  stroke-width: 1px;
  transition: fill 200ms, stroke 200ms;
  cursor: pointer;
}

#summary-page .rect-node:hover {
  fill: #668bbb;
}

#summary-page .rect-node-selected {
  fill: #58a1ff;
  stroke: #3e5eaf;
}

#summary-page .rect-node-selected:hover {
  fill: #73b0ff;
}

#summary-page .path-link {
  stroke: #95b2d4;
  opacity: 0.5;
  transition: stroke 200ms;
}

#summary-page .path-link-active {
  stroke: #18c9ff;
}

#summary-page .slice {
  stroke: #bfe9f6;
  stroke-width: 3;
}

#summary-page .heatmap-head {
  position: absolute;
  height: 40%;
  margin: auto;
  top: 60%;
  left: 0;
  right: 0;
}
