:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  overflow: auto;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
}

h1 {
  padding-top: 50px;
}

#title {
  font-size: large;
  text-align: center;
  margin: 0;
}

.bubble-filter {
  padding: 5px 20px;
}

